/*el fondo está sacado de la página https://uigradients.com y se llama SweetMorning */
/*Más información en el vídeo https://www.youtube.com/watch?v=IgCfZkR8wME alrededor de 1h24'30'' */ 

/*body {
    background: #FF5F6D;  // fallback for old browsers 
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  // Chrome 10-25, Safari 5.1-6 
    background: linear-gradient(to right, #FFC371, #FF5F6D); // W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
}*/

body{
        background: #ffe259;
        /*background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  // Chrome 10-25, Safari 5.1-6*/
        background: linear-gradient(to right,#ffa751,#ffe259);
    }
    