{% extends 'layout.html' %}

{% block body %}

<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    -->
  </head>
  <body>    
    <div class="container">
      <div class="row">
        
        <h1>HOME</h1> 
        <h2>Qui som?</h2>
        <h2>Per què serveix?</h2> 
          <h6>-Crear figures de salsa a partir de balls de diferents ballarins i ballarines</h6>
          <h6>-Unió de diferents moviments de salsa a partir de moviments de diferents ballarins i ballarines</h6>
          <h6>-Mirar l'estil de diferents ballarins i ballarines de salsa en diferents moviments</h6>
          <h6>-Millorar l'estil veient diferents ballerins reproduir uns moviments</h6>
          <h6>Posar en grups moviments que comencen igual</h6>
          <h6>Posar en grups moviments que acaben igual</h6>
          <h6>Agrupar moviments que comencen i acaben igual</h6>

          <h3>-Si una persona es registre (gratuit) pot posar moviments de salsa</h3>

          <h6>Software de disseny utilitzat</h6>
          <h6>Openshot video editor</h6>
          <h6>Paint 3D</h6>
          <h6>Gravit Designer</h6>
          <h6>https://online-video-cutter.com/</h6>

          <h6>Natalia Sheinkin</h6>
          <h6>https://www.123rf.com/profile_nataliashein</h6>

          <h6>style</h6>
          <h6>
            Cuando lo piensas, te das cuenta que no existe un solo modo, que sea fácil para perfeccionar los movimientos del baile
            de Salsa clásica.
          </h6>
          <h6>
            Como cualquiera de las otras danzas, la Salsa requerirá tiempo, esfuerzo y el tiempo para hacerlo, experimentar errores
            repetidamente y nunca detenerse hasta no obtener la perfección. La habilidad y lo mucho que has mejorado a menudo es
            medido por el número de movimientos y pasos que muestras en la pista de baile.
          </h6>
          <h6>
            Sin embargo, en la actualidad no deberías medir la habilidad con los movimientos de baile sino con el modo en que
            aplicas esos movimientos al enviar el mensaje del baile fluidamente a aquellos que están mirando o a tus compañeros de
            baile.
          </h6>
          <h6>
            A mayor fluidez y gracia en tus presentaciones de baile de Salsa, mejor te volverás. Perfeccionar tus movimientos de
            pies también es crucial ya que implica pasos rápidos y ligeros y no deberían dar la impresión de que están rebotando.
            Necesitas lucir como una seda que fluye sobre cualquier cosa.
          </h6>
          <h6>
            Percibir el ritmo de la música usada en Salsa puede ser crítico también porque a diferencia de otros tipos de baile la
            Salsa usa su propia música. Necesitas focalizarte en la música y no en los movimientos de baile por lo que necesitarás
            saber cuando viene cada golpe.
          <h6>
            La Salsa es más divertida cuando tienes un compañero con quien bailar. Deberías recordar que tradicionalmente hay uno
            que dirige y uno que sigue en este baile. La presión del brazo debería ser ejercida sin esfuerzo por el que dirige, lo
            cual le permitirá dirigir a la seguidora a cualquier dirección que él desee. Una postura normal es mantener los codos
            doblados cuando el que dirige empuja para mantener la presión.
          </h6>
          <h6>
            Básicamente, hay algunos aspectos fundamentales que el bailarín de Salsa debería saber. Después de dominar estas
            técnicas, es probable que aprender y manejar con pericia movimientos mucho más complicados y sofisticados se logre
            naturalmente, convirtiéndote en un profesional.
          </h6>
          <h6>
            SalsaEnMovimientos parte de la idea de que el baile de la salsa está compuesto de multitud de movimientos.
            <lu>
              <li>La mayoría de estos movimientos son realizados en sólo ocho tiempos.</li>
              <li> A veces, la única diferencia en la realización de un movimiento radica en el estilo.</li>
              <li> Cada uno de estos movimientos tiene una posición inicial y una posición final (que a veces coincide y a veces no).</li>
            </lu> 
          </h6>
          <h6>
            A partir de esta idea, si eres la persona que dirige, SalsaEnMovimientos te ayudará a añadir a tu práctica habitual,
            nuevos movimientos que podrás utilizar en tus próximos bailes... algunos de estos movimientos sólo duran ocho tiempos.
          </h6>
          <h6>
            Tanto si eres la persona que sigue como si eres la que dirige, en SalsaEnMovimientos puedes observar como grandes 
            bailarines escenifican en un social los movimientos que, igual tú, ya realizas y los que no. Resumiendo, te permite
            ver el estilo de los mejores en cada movimiento, para consecuentemente poder mejorar tu propio estilo.
          </h6>
          <h6>
            Además, SalsaEnMovimientos te permite crear tus propias figuras uniendo los diferentes movimientos que encuentras en la
            web. Una vez creada la figura, puedes descargarla.  
          </h6>
          <h6>
            Existe la posibilidad de que los usuarios añadan nuevos movimientos a SalsaEnMovimientos. Para ello, es necesario 
            registrarse gratuitamente. Sólo es necesario un email.
          </h6>

      </div>
    </div>
  </body> 
</html>

{% endblock %}
