{% extends 'layout.html' %}

{% block body %}

<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    -->
  </head>
  <body>    
    <div class="container">
      <div class="row">
        
        {% for pose in poses %}
        <div class="col-md-3">         
          <div class="card">                 
            <img src="static/uploads/positions/{{ pose }}"/>

            <div class="card-body"> 
              <td><h6>{{num_mov[poses.index(pose)]}} different videos</h6></td> <!--manera de recorrer un for usando el índice-->          
              <a href="/search_fig/{{ pose }}" id="" class="btn btn-primary btn-sm" role="button">{{ pose }}</a>
            </div>         
          </div>
        </div>        
        {% endfor %} 

      </div>
    </div>
  </body> 
</html>

{% endblock %}
