{% extends 'layout2.html' %}

{% block body %}

<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src='../static/js/jquery.zoom.js'></script>
    

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    -->
  </head>
  <body>   

    <!--<div class="container">
      <div class="row">
        <div class="col-md-12">
            <div class="card-body d-flex justify-content-between align-items-center">
              <a href=""></a>
              <div class="col-md-2">
                <div class="card">
                  <img src="../static/uploads/positions/{{ filnom }}"/>
                  </div>
              </div>
            </div>
        </div>
      </div>
    </div>-->

    <div class="container">
      <div class="row">

        <div class="col-md-2">
            <!--<div class="card-body d-flex justify-content-between align-items-center">
              <a href="javascript:history.back()" id="" class="btn btn-primary" role="button" style="float:right"> Back</a>
            </div>-->
            <!--<a href="javascript:history.back()" id="" class="btn btn-primary" role="button"> Back</a>-->
            <div class="card p-4 rounded-end">
              <img src="../static/images/original_colors.png"/>
            </div>
        </div>

        <div class="col-md-8">  
          <h4 class="label_titol mt-2 fw-bold text-center py-0">Creating a figure...</h4>        
        </div>
              
        <div class="col-md-2">
          <h5 class="label_titol mt-0 fw-bold py-0">Initial position</h5>
            <div class="card mt-2">
              <img src="../static/uploads/positions/{{ filnom }}"/>
            </div>   
        </div>

      </div>
    </div>

    <div class="container">
      <div class="row">
        <h5 class="label_titol fw-bold py-0">Final position</h5>

        {% for video in datos %}
        <div class="col-md-3">         
          <div class="card mb-2 rounded-end">            
            <!-- {% print(video) %} -->
            <!-- {% print(datos) %} -->
            <div class='zoom' id='ex3'>
              <img src='../static/uploads/positions/{{ video[4] }}.png' width='300' height='200' alt=''/> <!-- tenemos que poner ../ ya que estamos en http://127.0.0.1:8080/search/-->
            </div>
            <!--<div class="card-body">-->
            <div class="p-1">
              <!--<h6 class="card-title">{{ video[3] }}</h6>-->
              <h6 class="card-title">begin {{ video[3] }}  end {{ video[4] }}</h6>
              {% if video[6] and video[5] %}
                <p class="card-text">{{ video[6] + ' & ' + video[5] }}</p>
              {% else %}
                <p class="card-text">{{ video[6] + video[5] }}</p>
              {% endif %}
            </div>
              
              <!--<p class="card-text">{{ video[6] + ' & ' + video[5] }}</p>-->
              <!--<a name="" id="" class="btn btn-primary btn-sm" href="https://www.dailymotion.com/video/{{ video['id'] }}" role="button">Ver vídeo</a>-->
              <!--<a href="/pre_selected_mov_fig/{{video[2]+'ttststs'+video[3]+'ttststs'+video[4]}}" class="btn btn-sm btn-primary">Pre Selected</a>--> <!-- video[1] es el nombre del vídeo -->
            <div class="d-grid">                  
              <button type="submit" onclick="window.location.href=`/pre_selected_mov_fig/{{video[2]+'ttststs'+video[3]+'ttststs'+video[4]}}`" class="btn btn-primary">Pre Selected</button>
            </div>
            
                     
          </div>
        </div>        
        {% endfor %}  

      </div>
    </div>
    <!--<div class="card-body">
      <a href="javascript:history.back()" id="" class="btn btn-primary" role="button"> Add to the figue</a>
    </div>-->
  </body> 
</html>

{% endblock %}

